.custom-form-check {
    padding: 0;
    width: fit-content;
    background: var(--secondary);
    background: var(--secondary-gradient);
    z-index: -100;
    border: 1px solid white;
    border-radius: 30%;
}

.custom-form-check label {
    color: white;
    display: inherit;
    align-items: inherit;
    padding: 0.3rem 1.3rem;
    text-align: justify;
    min-height: 2rem;
    width: 20rem;
    height: auto;
    cursor: pointer;
}

.custom-form-check input[type="radio"] {
  position: fixed;
  opacity: 0;
  pointer-events: none;
}

.custom-form-check input[type="radio"]:checked + label {
  border: 2px solid red;  
}
