.form {
  min-height: auto;
  height: 100%;
  z-index: 50;
  min-width: 20vw;
  width: 35vw;
}

.form:is(.categories) {
  width: 20vw;
}

.form-label {
  background: var(--secondary);
  background: var(--secondary-gradient-linear);
  padding: 2rem;
  text-align: center;
  margin: 0;
  font-size: 1.2rem;
}

@media (max-width: 768px) {
  .form,
  .form:is(.categories) {
    width: 80vw;
  }
}

@media (max-width: 650px) {
  .form-label {
    padding: 1rem;
    font-size: 0.9rem;
  }
}
