.form {
  min-height: auto;
  height: 100%;
  max-width: 40vw;
  z-index: 50;
}

.form-label {
  min-width: 20vw;
  background: var(--secondary);
  background: var(--secondary-gradient-linear);
  padding: 2rem;
  text-align: center;
  margin: 0;
  font-size: 1.2rem;
}

@media (max-width: 768px) {
  .form {
    max-width: 80vw;
  }
}

@media (max-width: 650px) {
  .form-label {
    min-width: 80vw;
    padding: 1rem;
    font-size: 0.9rem;
  }
}
