.form-check {
  padding: 0;
  width: fit-content;
}

.form-check label {
  padding: 0.3rem 1.3rem;
  text-align: justify;
  min-height: 2rem;
  width: 20rem;
  height: auto;
  cursor: pointer;
  background: var(--secondary);
  background: var(--secondary-gradient-linear);
  border: 1px solid white;
  border-radius: 30%;
}

.form-check input[type="radio"] {
  position: fixed;
  opacity: 0;
  pointer-events: none;
}

.form-check input[type="radio"]:checked + label {
  background: var(--orange);
}
