.form {
  height: 100%;
  max-width: 40%;
  z-index: 50;
}

.form-label {
  background: var(--secondary);
  background: var(--secondary-gradient-linear);
  padding: 2rem;
  text-align: center;
  margin: 0;
  font-size: 1.2rem;
}

@media (max-width: 576px) {
  .form {
    height: 70%;
    max-width: 95%;
  }

  .form-label {
    padding: 1rem;
    font-size: 1rem;
  }
}
