.form-check {
  padding: 0;
  width: auto;
  font-size: 1rem;
}

.form-check label {
  padding: 0.3rem 1.3rem;
  text-align: justify;
  min-width: 20rem;
  width: 100%;
  min-height: 2rem;
  height: auto;
  cursor: pointer;
  background: var(--secondary);
  background: var(--secondary-gradient-linear);
  border: 1px solid white;
  border-radius: 30%;   
}

.form-check input[type="radio"] {
  position: fixed;
  opacity: 0;
  pointer-events: none;
}

.form-check input[type="radio"]:checked + label {
  background: var(--orange);
}

@media (max-width: 650px) {
  .form-check {
    font-size: 0.8rem;
  }
}
