.main-game-stats {
  background-image: url("../assets/game-background.jpg");
}

.main-game-stats ul {
  width: 35vw;
  min-height: 50vh;
  height: auto;
  border-radius: 3%;
  color: var(--orange);
  border: 1px solid white;
  background: var(--secondary);
  background: var(--secondary-gradient-radial);
  -webkit-box-shadow: 5px 5px 60px 60px var(--secondary-lighter);
  box-shadow: 5px 5px 60px 60px var(--secondary-lighter);
  font-size: 1.1rem;
  letter-spacing: 0.1rem;
  line-height: 1.7rem;
}

.main-game-stats ul li span {
  font-weight: bold;
}

@media (max-width: 1200px) {
  .main-game-stats ul {
    width: 50vw;
    min-height: 55vh;
    font-size: 1rem;
    letter-spacing: 0rem;
  }
}

@media (max-width: 900px) {
  .main-game-stats ul {
    width: 80vw;
  }
}

@media (max-width: 600px) {
  .main-game-stats ul {
    width: 95vw;
  }
}
