.main-game-stats {
  background-image: url("../assets/game-background.jpg");
}

.main-game-stats ul {
  width: 25vw;
  min-height: 50vh;
  height: auto;
  border-radius: 3%;
  color: var(--orange);
  border: 1px solid white;
  background: var(--secondary);
  background: var(--secondary-gradient-radial);
  -webkit-box-shadow: 5px 5px 60px 60px var(--secondary-lighter);
  box-shadow: 5px 5px 60px 60px var(--secondary-lighter);
  font-size: 1.1rem;
  letter-spacing: 0.1rem;
}

@media (max-width: 1100px) {
  .main-game-stats ul {
    width: 50vw;
    min-height: 55vh;
    font-size: 1rem;
    letter-spacing: 0rem;
  }
}

@media (max-width: 768px) {
  .main-game-stats ul {
    width: auto;
    max-width: 90vw;
  }
}
