.exit {
  border: 1px solid white;
  border-radius: 10%;
  height: 4rem;
  width: 7rem;
  background: var(--secondary);
  background: var(--secondary-gradient-linear);
  -webkit-box-shadow: 5px 5px 20px 20px var(--secondary-lighter);
  box-shadow: 5px 5px 20px 20px var(--secondary-lighter);
  -webkit-user-select: none;
  user-select: none;
  gap: 0.3rem;
  font-size: 0.9rem;
}
