@import url("https://fonts.googleapis.com/css2?family=PT+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap");
:root {
  --main: #36094c;
  --main-darker: #1b0427;

  --secondary: #030e3e;
  --secondary-lighter: #024c79aa;

  --secondary-gradient-linear: linear-gradient(
    var(--secondary-lighter),
    var(--secondary),
    var(--secondary-lighter)
  );

  --orange: #d2a512;
}

body {
  margin: 0;
  font-family: "PT Sans", sans-serif;
}
