.modal-content {
  background: var(--secondary);
  color: white;
  -webkit-box-shadow: inset 5px 5px 60px 60px var(--secondary-lighter);
  box-shadow: inset 5px 5px 60px 60px var(--secondary-lighter);
  font-size: 1.5rem;
}

.modal-body div {
  font-size: 1.2rem;
}

@media (max-width: 1300px) {
  .modal-backdrop {
    background-size: 30vh;
    background-position: center bottom;
  }
}

@media (max-width: 900px) {
  .modal-content {
    font-size: 1rem;
  }

  .modal-body div {
    font-size: 0.8rem;
  }

  .modal-backdrop {
    background-size: 18vh;
  }
}
